# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/

# Model files
*.pt

# Training data and cache
train/
*.cache

# Videos
videos/

# Local development
.DS_Store
*.backup

# Database
*.sqlite3

# Logs
*.log
